body,
button {
  font-family: "Courier New", Courier, monospace;
}

.bgmodal {
  background-color: #eae9e9;
  height: 1200px;
}
.overlay {
  position: absolute;
  width: 100vw;
  top: 0;
}

.btnContainer {
  display: block;
  text-align: center;
}

.btninactive {
  opacity: 0;
}

button.btn {
  color: white;
  height: 50px;
  border-radius: 5px;
  width: 100px;
  background-color: darkslateblue;
  cursor: pointer;
}
p.modalq {
  font-size: 20px;
  font-weight: 600;
}

.modalContainer {
  opacity: 0;
  width: 500px;
  margin: 0 auto;
  position: absolute;
  display: inline-block;
  left: calc((100vw - 500px) / 2);
  margin-top: 30px;
  /* transition: all 1s;*/
  padding: 10px;
  background-color: white;
}

.modalclass {
  opacity: 1;
  top: 0;
}
p.ptext {
  text-align: justify;
}

h3 {
  display: inline-block;
  margin: 0;
  left: 42%;
  position: relative;
}

label.iconx {
  position: absolute;
  right: 10px;
  display: inline-block;
  cursor: pointer;
}
